<div class="container">
  <header class="header">
    <ul class="header__links">
      <li class="header__list">Home</li>
      <li class="header__list">About</li>
      <li class="header__list">Products</li>
      <li class="header__list">Logout</li>
    </ul>
  </header>

  <main class="main">
    <div class="main__content">
      <!-- card 1 -->
      <div class="main__card">
        <div class="main__card-body">
          <img
            src="https://i.pinimg.com/736x/13/e0/3c/13e03c38419f8e45f23a2d0b4c1f188a.jpg"
            alt="wrisk watch"
          />
        </div>

        <div class="main__card-title">
          <p>Adidas Originals Forum Low CL</p>
        </div>

        <div class="main__card-footer">
          <button class="main__btn main__btn--primary">Add</button>
          <button class="main__btn main__btn--secondary">Checkout</button>
        </div>
      </div>

      <!-- card 2 -->

      <div class="main__card">
        <div class="main__card-body">
          <img
            src="https://i.pinimg.com/736x/49/e4/30/49e4303f27f639206afbd96e57999e96.jpg"
            alt="wrisk watch"
          />
        </div>

        <div class="main__card-title">
          <p>Men Fashion Leather</p>
        </div>

        <div class="main__card-footer">
          <button class="main__btn main__btn--primary">Add</button>
          <button class="main__btn main__btn--secondary">Checkout</button>
        </div>
      </div>


      <!-- card 3  -->

      <div class="main__card">
        <div class="main__card-body">
          <img
            src="https://i.pinimg.com/736x/96/1d/f2/961df29d38bda27dfe0a902c753244c8.jpg"
            alt="wrisk watch"
          />
        </div>

        <div class="main__card-title">
          <p>Shoes Sneakers</p>
        </div>

        <div class="main__card-footer">
          <button class="main__btn main__btn--primary">Add</button>
          <button class="main__btn main__btn--secondary">Checkout</button>
        </div>
      </div>

      <!-- card 4 -->

      <div class="main__card">
        <div class="main__card-body">
          <img
            src="https://i.pinimg.com/736x/dd/1d/7d/dd1d7d48ee30ca25e2b2d8194d1bdf7f.jpg"
            alt="wrisk watch"
          />
        </div>

        <div class="main__card-title">
          <p>Mocha Brown x   Black Custom Air Force 1</p>
        </div>

        <div class="main__card-footer">
          <button class="main__btn main__btn--primary">Add</button>
          <button class="main__btn main__btn--secondary">Checkout</button>
        </div>
      </div>

      <!-- card 5 -->

      <div class="main__card">
        <div class="main__card-body">
          <img
            src="https://i.pinimg.com/736x/80/33/a4/8033a49a1af88a4e4b3e22abd2795173.jpg"
            alt="wrisk watch"
          />
        </div>

        <div class="main__card-title">
          <p>Nike Men Air force 1</p>
        </div>

        <div class="main__card-footer">
          <button class="main__btn main__btn--primary">Add</button>
          <button class="main__btn main__btn--secondary">Checkout</button>
        </div>
      </div>

      <!-- 6 -->

      <div class="main__card">
        <div class="main__card-body">
          <img
            src="https://i.pinimg.com/736x/6b/aa/1a/6baa1a165cbe869c4de5408c37f9294f.jpg"
            alt="wrisk watch"
          />
        </div>

        <div class="main__card-title">
          <p>New Balance</p>
        </div>

        <div class="main__card-footer">
          <button class="main__btn main__btn--primary">Add</button>
          <button class="main__btn main__btn--secondary">Checkout</button>
        </div>
      </div>

      <!-- 7 -->

      <div class="main__card">
        <div class="main__card-body">
          <img
            src="https://i.pinimg.com/736x/2a/68/67/2a6867a3d192ab93a78435afbbe61637.jpg"
            alt="wrisk watch"
          />
        </div>

        <div class="main__card-title">
          <p>Sneakers</p>
        </div>

        <div class="main__card-footer">
          <button class="main__btn main__btn--primary">Add</button>
          <button class="main__btn main__btn--secondary">Checkout</button>
        </div>
      </div>

      <!-- 8 -->

      <div class="main__card">
        <div class="main__card-body">
          <img
            src="https://i.pinimg.com/736x/24/ed/99/24ed99c3787fc3bb9c37acbf32aa0a2f.jpg"
            alt="wrisk watch"
          />
        </div>

        <div class="main__card-title">
          <p>Sambas </p>
        </div>

        <div class="main__card-footer">
          <button class="main__btn main__btn--primary">Add</button>
          <button class="main__btn main__btn--secondary">Checkout</button>
        </div>
      </div>
      

    </div>
  </main>
</div>
